

.pricing-area{
    padding: 70px 0;
}

.pricing-grid-layout{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-top: 50px;
}
.les{
    position: absolute;
    left: -45px;
    top: -14px;
    background: #19103f;
    color: #fff;
    width: 137px;
    height: 31px;
    text-align: center;
    line-height: 17px;
    text-transform: uppercase;
    transform: rotate(-41deg);
    font-size: 14px;
    font-weight: 600;
    padding-top: 37px;
    z-index: 3;
}
.pricing-card{
    box-shadow: 0 5px 15px rgba(153,153,153, 0.18);
    text-align: center;
    transition: all 0.4s ease 0s;
    background: #fff;
    border-radius: 5px;
    position: relative;
    padding: 20px 0px;
    overflow: hidden;
}
.pricing-card h1{
    color: #444;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 30px;
}
.users{
    color: #19103f;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
}
hr{
    margin: 15px 0;
    height: .5px;
    color:#999 ;
}
.dollar{
    font-size: 24px;
    color: #999;
    margin-right: 5px;
    position: relative;
    top: -17px;
}
.item h4{
    color: #888;
    padding: 2px 0px;
    position: relative;
    text-align: center;
    font-weight: 600;
}
.prices{
    font-size: 50px;
    font-weight: 700;
    color: #666;
    padding-right: 10px;
}

.price-btn{
    color: #fff;
text-transform: uppercase;
transition: all 0.4s ease 0s;
border-radius: 2px;
font-weight: 700;
font-size: 14px;
padding: 10px 20px;
background: #19103f;
border: 1px solid #19103f;
margin-bottom: 20px;
}

@media screen and (max-width: 992px ){
    .pricing-grid-layout{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 768px ){
    .pricing-grid-layout{
        grid-template-columns: repeat(1, 1fr);
    }

}
@media screen and (max-width: 576px ){

}