

.services-area{
    padding: 60px 0;
}

.services-info h5{
    margin: 0;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    background-color:#19103f;
    margin-bottom: 10px;
    width: 100px;
    padding: 8px;
    text-align: center;
}
.services-info h2{
    margin: 0;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 900;
    color: #19103f;
}
.services-info h3{
    margin: 0;
    font-size: 25px;
    text-transform: uppercase;
    font-weight:900;
    color: #19103f;
    padding-bottom: 15px;
}

.line{
    background-color: #19103f;
    width: 20%;
    height: 3px;
}

.services-card-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding-top: 80px;
    padding-bottom: 20px;
}

.service-card{
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
    position: relative;
}
.service-card img{
    width: 100%;
}
.service-card img:hover{
    transition: 0.9s;
    transform:translateY(-5px)
}
.service-all-info{
    padding: 20px;
}
.service-card h4{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 900;
    color:#19103f;
    margin: 0;
    padding-top: 20px;
}

.icon-flex{
    display: flex;
    align-items: center;
}
.icon-flex .icon{
    font-size: 25px;
    margin-top: 22px;
    margin-right: 20px;
    color: red;
}
.check-icon{
    font-size: 25px;
    margin-top: 22px;
    margin-right: 20px;
    color: #19103f;
}
.service-card h3{
    margin: 0;
    color: #19103f;
    text-align: center;
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.service-card p{
    font-size: 15px;
    font-weight: 400; 
    color: rgba(0, 0, 0, 0.589);
    padding-bottom: 15px;
}

@media screen and (max-width: 992px ){
    .services-card-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 768px ){
    .services-card-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media screen and (max-width: 576px ){
    .services-info h2{
        font-size: 12px;
    }

    .services-info h3{
        font-size: 12px;
    }

    .service-card h4{
        font-size: 12px;
    }
}